@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  color: #8D96BD;
}

.section-outer {
  border-bottom: 1px solid #D8E3FE;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-inner--wide {
  max-width: 1200px;
}

.btn {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 12px 16px;
  border: 1px solid transparent;
  background: none;
  font-size: 12px;
  border-radius: 2px;
  text-decoration: none;
  transition: 0.2s;
  box-sizing: border-box;
}
.btn--primary {
  background-color: #D2E1FF;
  color: #3A79FF;
}
.btn--primary:hover {
  background-color: #b9d0ff;
}
.btn--secondary {
  color: white;
  background-color: #4C85FF;
}
.btn--secondary:hover {
  background-color: #3374ff;
}
.btn--no-bg {
  color: #ADB4D2;
  border: 1px solid #D1D1E4;
}
.btn--no-bg:hover {
  color: #8c96c0;
  border: 1px solid #b1b1d1;
}
.btn--danger {
  color: #D43F3F;
  background-color: #FFD7D7;
}
.btn--danger:hover {
  background-color: #ffbebe;
}

.btn-group {
  display: inline-flex;
}
.btn-group .btn:nth-child(1) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group .btn:nth-child(2) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #3D4F9F;
}

h1, h2 {
  font-size: 48px;
  margin-bottom: 28px;
}

h3 {
  margin-bottom: 28px;
  font-size: 36px;
}

h4 {
  font-size: 24px;
  margin-bottom: 80px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 16px;
}

.ta-c {
  text-align: center;
}

.dots {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.dots__item {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #D1D6E3;
  cursor: pointer;
}
.dots__item + .dots__item {
  margin-left: 12px;
}
.dots__item--active {
  background-color: #5283FF;
}

.section-header .section-inner {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-navigation {
  display: flex;
}

.logo {
  background-color: #5E81FE;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

.nav {
  margin-left: 72px;
  align-items: center;
}

.nav-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.nav-wrapper__item + .nav-wrapper__item {
  margin-left: 40px;
}
.nav-wrapper__item-link {
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  color: #697CA6;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}
.nav-wrapper__item-link:hover {
  color: #6188FF;
}
.nav-wrapper__item-link--active {
  font-weight: 700;
  color: #6188FF;
}

.socials {
  margin-left: auto;
}

.socials-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.socials-wrapper__item + .socials-wrapper__item {
  margin-left: 40px;
}
.socials-wrapper__item-link path {
  fill: #697CA6;
  transition: 0.2s;
}
.socials-wrapper__item-link:hover path {
  fill: #6188FF;
}

.btn-wrapper {
  margin-left: 44px;
}

.section-hero-image {
  position: relative;
  background-color: #F4F7FF;
}
.section-hero-image .dots {
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translate(-50%);
}

.slider-hero-image {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-hero-image__item {
  height: 560px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  text-align: center;
}
.slider-hero-image__item-content .text {
  width: 55%;
  margin: 0 auto 20px;
  line-height: 2;
}
.slider-hero-image__item-content h2 {
  font-weight: 300;
}
.slider-hero-image__item-content h2 span {
  font-weight: 500;
}

.icon-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background-color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.icon-play svg {
  width: 12px;
  height: 12px;
}

.section-customers .section-inner {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-customers .section-inner a {
  transition: 0.2s;
  opacity: 0.3;
}
.section-customers .section-inner a:hover {
  opacity: 1;
}

.section-plan-and-manage {
  background-color: #F5F8FF;
  position: relative;
  overflow: hidden;
}
.section-plan-and-manage__content {
  width: 50%;
}
.section-plan-and-manage__content .aside-image {
  position: absolute;
  top: 0;
  left: 50%;
}
.section-plan-and-manage__content h3 {
  font-weight: 400;
}
.section-plan-and-manage__content h3 span {
  font-weight: 500;
}
.section-plan-and-manage__content .text {
  line-height: 2;
  margin-bottom: 48px;
}
.section-plan-and-manage__content .btn-group svg {
  margin-left: 4px;
}

.section-features {
  background: url(../img/clouds.svg) no-repeat 50% 50%;
}
.section-features h4 {
  font-weight: 500;
}
.section-features .btns {
  display: flex;
  justify-content: center;
  text-align: center;
}

.features-list {
  display: flex;
  margin: 0 0 100px;
  padding: 0;
  list-style: none;
  text-align: center;
}
.features-list__item {
  position: relative;
  flex-basis: 25%;
}
.features-list__item:not(:first-child) {
  margin-left: 40px;
}
.features-list__item:not(:first-child)::before {
  position: absolute;
  content: "";
  top: 120px;
  left: -34px;
  height: 1px;
  width: 28px;
  background-color: #DAE4FE;
}
.features-list__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 68px;
  border-radius: 100%;
  margin: 0 auto 32px;
  background-color: #F1F5FF;
}
.features-list__item-title {
  font-weight: 700;
  font-size: 15px;
  color: #4074F8;
  margin-bottom: 28px;
}
.features-list__item-text {
  line-height: 2;
}

.or-block {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  margin: 0 16px;
}
.or-block::before, .or-block::after {
  display: block;
  width: 16px;
  content: "";
  height: 1px;
  background-color: #DAE4FE;
}
.or-block::before {
  margin-right: 16px;
}
.or-block::after {
  margin-left: 16px;
}

.section-stats {
  background-color: #E9EFFF;
  display: flex;
}
.section-stats__icon {
  margin-bottom: 24px;
}
.section-stats__number {
  font-family: "Quicksand", sans-serif;
  font-size: 48px;
  margin-bottom: 28px;
}
.section-stats__text {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 500;
  width: 40%;
  line-height: 1.5;
}
.section-stats__left, .section-stats__right {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding: 64px 88px;
}
.section-stats__left {
  background-color: #6888FF;
  text-align: right;
  align-items: flex-end;
  color: white;
}
.section-stats__right {
  background-color: #E9EFFF;
  text-align: left;
  align-items: flex-start;
  color: #5E80FF;
}

.section-blog {
  background-color: #F5F8FF;
}

.section-quotes {
  background-color: #EAF0FF;
}

.section-get-started {
  background-color: #6888FF;
}

.section-newsletter {
  background-color: #FCFDFF;
}

.section-footer {
  border-bottom: 0;
}
.section-footer .section-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.copyright {
  font-family: "Quicksand", sans-serif;
  color: #AEB8D0;
  font-size: 12px;
  font-weight: 500;
  margin-left: 96px;
  margin-top: 28px;
}

/*# sourceMappingURL=styles.css.map */
