@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

// === Mixin ===

@mixin roboto {
	font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
	font-family: 'Quicksand', sans-serif;
}

// === / Mixin ===

// === Variables ===
$base: 4px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-sm: 12px;
$fs-md: 15px;
$fs-lg: 18px;
$fs-xl: 48px;


$padding-vertical: $base*30;
$padding-vertical-sm: $base*15;
$padding-vertical-xs: $base*5;

$transition: .2s;

$color-divider: #D8E3FE;

$color-primary: #697CA6;
$color-secondary: #6188FF;
// === / Variables ===

// === Common ===

body {
	@include roboto();

	color: #8D96BD;
}

.section-outer {
	border-bottom: 1px solid $color-divider;
}

.section-inner {
	max-width: 900px;
	margin: 0 auto;
	padding-top: $padding-vertical;
	padding-bottom: $padding-vertical;

	&--wide {
		max-width: 1200px;
	}
}

.btn {
	@include quicksand();
	font-weight: $fw-bold;
	margin: 0;
	padding: $base*3 $base*4;
	border: 1px solid transparent;
	background: none;
	font-size: $fs-sm;
	border-radius: 2px;
	text-decoration: none;
	transition: $transition;
	box-sizing: border-box;

	&--primary {
		background-color: #D2E1FF;
		color: #3A79FF;

		&:hover {
			background-color: darken(#D2E1FF, 5%);
		}
	}

	&--secondary {
		color: white;
		background-color: #4C85FF;

		&:hover {
			background-color: darken(#4C85FF, 5%);
		}
	}

	&--no-bg {
		color: #ADB4D2;
		border: 1px solid #D1D1E4;

		&:hover {
			color: darken(#ADB4D2, 10%);
			border: 1px solid darken(#D1D1E4, 10%);

		}
	}

	&--danger {
		color: #D43F3F;
		background-color: #FFD7D7;

		&:hover {
			background-color: darken(#FFD7D7, 5%);
		}
	}

}


.btn-group {
	display: inline-flex;

	.btn:nth-child(1) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.btn:nth-child(2) {
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	@include quicksand();
	margin: 0;
	padding: 0;
	font-weight: $fw-regular;
	color: #3D4F9F;
}

h1, h2 {
	font-size: 48px;
	margin-bottom: $base*7;
}

h3 {
	margin-bottom: $base*7;
	font-size: 36px;
}

h4 {
	font-size: 24px;
	margin-bottom: $base*20;
}

h5 {
	@include roboto();
	font-size: 10px;
	font-weight: $fw-medium;
	margin-bottom: $base*4;
}

.ta-c {
	text-align: center;
}

.dots {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;

	&__item {
		width: $base*2;
		height: $base*2;
		border-radius: 100%;
		background-color: #D1D6E3;
		cursor: pointer;

		& + & {
			margin-left: $base*3;
		}

		&--active {
			background-color: #5283FF;
		}
	}
}

// === / Common ===

// === header ===
.section-header {
	.section-inner {
		padding-top: $padding-vertical-xs;
		padding-bottom: $padding-vertical-xs;
	}
}

.main-navigation {
	display: flex;
}

.logo {
	background-color: #5E81FE;
	width: $base*6;
	height: $base*6;
	border-radius: 100%;
}

.nav {
	margin-left: $base*18;
	align-items: center;
}

.nav-wrapper {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;

	&__item {
		& + & {
			margin-left: $base*10;
		}

		&-link {
			@include quicksand();
			font-size: $fs-sm;
			color: $color-primary;
			text-decoration: none;
			font-weight: $fw-medium;
			transition: $transition;

			&:hover {
				color: $color-secondary;
			}

			&--active {
				font-weight: $fw-bold;
				color: $color-secondary;
			}
		}
	}
}

.socials {
	margin-left: auto;
}

.socials-wrapper {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;

	&__item {
		& + & {
			margin-left: $base*10;
		}

		&-link {
			path {
				fill: $color-primary;
				transition: $transition;
			}

			&:hover {
				path {
					fill: $color-secondary;
				}
			}
		}
	}
}

.btn-wrapper {
	margin-left: $base*11;
}

// === / header ===

// === hero image ===
.section-hero-image {
	position: relative;
	background-color: #F4F7FF;

	.dots {
		position: absolute;
		bottom: $base*7;
		left: 50%;
		transform: translate(-50%);
	}
}

.slider-hero-image {
	margin: 0;
	padding: 0;
	list-style: none;

	&__item {
		height: $base*140;
		background-repeat: no-repeat;
		background-position: 100% 100%;
		background-size: cover;
		text-align: center;

		&-content {
			.text {
				width: 55%;
				margin: 0 auto $base*5;
				line-height: 2;
			}

			h2 {
				font-weight: $fw-light;

				span {
					font-weight: $fw-medium;
				}
			}
		}
	}
}

.icon-play {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: $base*13;
	height: $base*13;
	border-radius: 100%;

	background-color: white;
	box-shadow: 0 4px 4px 0 rgba(#000000, .25);

	svg {
		width: $base*3;
		height: $base*3;
	}
}

// === / hero image ===

// === customers ===
.section-customers {
	.section-inner {
		padding-top: $padding-vertical-sm;
		padding-bottom: $padding-vertical-sm;
		display: flex;
		justify-content: space-between;
		align-items: center;

		a {
			transition: $transition;
			opacity: .3;

			&:hover {
				opacity: 1;
			}
		}
	}
}

// === / customers ===

// === plan and manage ===
.section-plan-and-manage {
	background-color: #F5F8FF;
	position: relative;
	overflow: hidden;

	&__content {
		width: 50%;

		.aside-image {
			position: absolute;
			top: 0;
			left: 50%;
		}

		h3 {
			font-weight: $fw-regular;

			span {
				font-weight: $fw-medium;
			}
		}

		.text {
			line-height: 2;
			margin-bottom: $base*12;
		}

		.btn-group {
			svg {
				margin-left: $base;
			}
		}
	}
}

// === / plan and manage ===

// === features ===
.section-features {
	background: url(../img/clouds.svg) no-repeat 50% 50%;

	h4 {
		font-weight: $fw-medium;
	}

	.btns {
		display: flex;
		justify-content: center;
		text-align: center;
	}
}

.features-list {
	display: flex;
	margin: 0 0 $base*25;
	padding: 0;
	list-style: none;
	text-align: center;

	&__item {
		position: relative;
		flex-basis: 25%;

		&:not(:first-child) {
			margin-left: $base*10;
		}

		&:not(:first-child)::before {
			position: absolute;
			content: "";
			top: 120px;
			left: -34px;
			height: 1px;
			width: 28px;
			background-color: #DAE4FE;
		}

		&-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			width: $base*17;
			height: $base*17;
			border-radius: 100%;
			margin: 0 auto $base*8;
			background-color: #F1F5FF;
		}

		&-title {
			font-weight: $fw-bold;
			font-size: $fs-md;
			color: #4074F8;
			margin-bottom: $base*7;
		}

		&-text {
			line-height: 2;
		}
	}
}

.or-block {
	display: inline-flex;
	align-items: center;
	font-weight: $fw-medium;
	font-size: $fs-sm;
	margin: 0 $base*4;

	&::before, &::after {
		display: block;
		width: $base*4;
		content: '';
		height: 1px;
		background-color: #DAE4FE;
	}

	&::before {
		margin-right: $base*4;
	}

	&::after {
		margin-left: $base*4;
	}

}

// === / features ===

// === stats ===
.section-stats {
	background-color: #E9EFFF;
	display: flex;

	&__icon {
		margin-bottom: $base*6;
	}

	&__number {
		@include quicksand();
		font-size: $fs-xl;
		margin-bottom: $base*7;
	}

	&__text {
		@include quicksand();
		font-size: $fs-lg;
		font-weight: $fw-medium;
		width: 40%;
		line-height: 1.5;
	}

	&__left, &__right {
		display: flex;
		flex-direction: column;
		flex-basis: 50%;
		padding: $base*16 $base*22;
	}

	&__left {
		background-color: #6888FF;
		text-align: right;
		align-items: flex-end;
		color: white;
	}

	&__right {
		background-color: #E9EFFF;
		text-align: left;
		align-items: flex-start;
		color: #5E80FF;
	}
}

// === / stats ===

// === blog ===
.section-blog {
	background-color: #F5F8FF;
}

// === / blog ===

// === quotes ===
.section-quotes {
	background-color: #EAF0FF;
}

// === / quotes ===

// === faq ===
.section-faq {

}

// === / faq ===

// === get started ===
.section-get-started {
	background-color: #6888FF;
}

// === / get started ===

// === newsletter ===
.section-newsletter {
	background-color: #FCFDFF;
}

// === / newsletter ===

// === footer ===
.section-footer {
	border-bottom: 0;

	.section-inner {
		padding-top: $padding-vertical-sm;
		padding-bottom: $padding-vertical-sm;
	}
}

.copyright {
	@include quicksand();

	color: #AEB8D0;
	font-size: $fs-sm;
	font-weight: $fw-medium;
	margin-left: $base*24;
	margin-top: $base*7;
}

// === / footer ===
